@media print {
  body {
    background: #fff;
  }

  .header {
    display: none;
  }

  #download-btn {
    display: none;
  }
  #drawer {
    display: none;
  }
  #tab {
    display: none;
  }

  #quote {
    background-color: #fff;
  }

  .App {
    background-color: #fff;
  }

  @page {
    margin: 0;
    background: #fff;
  }
}
